@charset "utf-8";
/* CSS Document */


@mixin transition($duration,$ease:$linear,$prop:all,$delay:0)
{
  -webkit-transition: $prop $duration $delay $ease;
  -moz-transition: $prop $duration $delay $ease;
  -o-transition: $prop $duration $delay $ease;
  -ms-transition: $prop $duration $delay $ease;
  transition: $prop $duration $delay $ease;

  -moz-transition-duration: $duration;
  -moz-transition-property:$prop;
  -moz-transition-delay:$delay;
}
@mixin rounded($radius)
{
  -moz-border-radius: $radius;
  -webkit-border-radius: $radius;
  border-radius: $radius;
}
@mixin box-sizing{
  -o-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
@mixin opacity($alpha)
{
  opacity: $alpha;
  -moz-opacity: $alpha;
  filter:alpha(opacity=$alpha);
}
@mixin centerH{
  left: 50%;
  @include transform(translateX(-50%));
}
@mixin centerV{
  top: 50%;
  @include transform(translateY(-50%));
}
@mixin transform($transform)
{
  -webkit-transform: $transform;
  -moz-transform: $transform;
  -o-transform: $transform;
  transform: $transform;
}

// REMOVE IF THERE IS NO 3D
@mixin transform-origin($transformOrigin)
{
  -webkit-transform-origin:$transformOrigin;
  -moz-transform-origin:$transformOrigin;
}
@mixin perspective-origin($perspective)
{
  -webkit-perspective-origin:$perspective;
  -moz-perspective-origin:$perspective;
  -o-perspective-origin:$perspective;
  perspective-origin:$perspective;
}
@mixin preserve3d{
  -webkit-transform-style:preserve-3d;
  -moz-transform-style:preserve-3d;
  -o-transform-style:preserve-3d;
  transform-style:preserve-3d;
}
@mixin hideBackface{
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  -o-backface-visibility: hidden;
  backface-visibility: hidden;
}
@mixin showBackface{
  -webkit-backface-visibility: visible;
  -moz-backface-visibility: visible;
  -o-backface-visibility: visible;
  backface-visibility: visible;
}

@mixin filter($filter-type,$filter-amount) { 
  -webkit-filter: $filter-type+unquote('(#{$filter-amount})');
  -moz-filter: $filter-type+unquote('(#{$filter-amount})');
  -ms-filter: $filter-type+unquote('(#{$filter-amount})');
  -o-filter: $filter-type+unquote('(#{$filter-amount})');
  filter: $filter-type+unquote('(#{$filter-amount})');
}


// Center-align a block level element - Quickly center any element within its parent. 
// Requires width or max-width to be set.
@mixin center-block {
  display: block;
  margin-left: auto;
  margin-right: auto;
}



// font-family: 'Noticia Text', serif;
// font-family: 'Oswald', sans-serif;
// font-family: 'Open Sans', sans-serif;
// END REMOVE IF THERE IS NO 3D

@mixin headline-font($size)
{
  font-size: $size;
  font-family: $headline-font;
}
$headline-font: 'Oswald', sans-serif;

@mixin body-font($size)
{
  font-size: $size;
  font-family: 'Open Sans', sans-serif;
}

$bgColor: #eee;
$darkColor: #222;
$darkColor95: rgba(6, 6, 6, .95);
$darkColor20: rgba(6, 6, 6, .20);
$darkColor50: rgba(6, 6, 6, .50);
$darkColor85: rgba(6, 6, 6, .85);
$highlightColor: red;
$lightColor: #dedede;
$lightColor50: rgba(223, 236, 230, .50);
$lightColor20: rgba(223, 236, 230, .20);
$borderColor: #494547;
$yellow: rgba(255, 227, 63, 1);
$yellow25: rgba(255, 227, 63, .25);
$yellow50: rgba(255, 227, 63, .5);
$yellow75: rgba(255, 227, 63, .75);


/* =============================================================================
   HTML5 Boilerplate CSS: h5bp.com/css
   ========================================================================== */

*{
  @include box-sizing;
}
html { font-size: 100%; width: 100%; height:100%; background:$bgColor; -webkit-font-smoothing:antialiased;-webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%; text-rendering:optimizeLegibility}
html, button, input, select, textarea { @include body-font(1em); color: #222; }
body { overflow-y: scroll; margin: 0; width: 100%; height:100%; font-size: 1em; line-height: 1.4; @include body-font(16px);
}

a { 
  color: $darkColor;
  text-decoration: none;
}

a:visited {}
a:hover {}
a:focus { outline: thin dotted; }
a:hover, a:active { outline: 0; }

abbr[title] { border-bottom: 1px dotted; }
b, strong { font-weight: bold; }
blockquote { margin: 1em 40px; }
dfn { font-style: italic; }
hr { display: block; height: 1px; border: 0; border-top: 1px solid #ccc; margin: 1em 0; padding: 0; }
ins { background: #ff9; color: #000; text-decoration: none; }
mark { background: #ff0; color: #000; font-style: italic; font-weight: bold; }
pre, code, kbd, samp { font-family: monospace, serif; _font-family: 'courier new', monospace; font-size: 1em; }
pre { white-space: pre; white-space: pre-wrap; word-wrap: break-word; }
q { quotes: none; }
q:before, q:after { content: ""; content: none; }
small { font-size: 85%; }

sub, sup { font-size: 75%; line-height: 0; position: relative; vertical-align: baseline; }
sup { top: -0.5em; }
sub { bottom: -0.25em; }

ul, ol, figure { margin: 0 0; padding: 0 0 0 0; }
li {display: block;}
dd { margin: 0 0 0 40px; }
nav ul, nav ol { list-style: none; list-style-image: none; margin: 0; padding: 0; }

img { 
  border: 0; -ms-interpolation-mode: bicubic; 
  // vertical-align: middle; 
}

/* ===== Primary Styles ========================================================
   Author: Trevor / EON
   ========================================================================== */

body {
  background-color: rgba(240, 234, 231, 1);
}

h1 {
  font-family: $headline-font;
}
h2 {
  $headline-font: (1.5rem);
}
h3 {
  $body-font: (1.17rem);
}
h4 {
  $headline-font: (1.12rem);
}
h5 {
  $headline-font: (.83rem);
}
h6 {
  $headline-font: (.75rem);
}


.nav {
  background: #fff; //url(../images/menu-bg-mobile.png);
  opacity: 1;
}

.nav-fade {
  opacity: 0.8;
}

li {
    list-style-type: none;
}


#menu{
    position: relative;
}
#menu a{
    padding-left: 20px;
}
#menu a:before {
    content: "";
    position: absolute;
    top: 30%;
    left: 1em;
    width: 2em;
    height:4px;
    border-top: 10px double #111;
    border-bottom: 3px solid #111;
}

.sub-menu {
  top: 0rem;
  opacity: 1;
   -webkit-transition: all 1s ease;
   transition: all 1s ease;
}

.sub-menu-up {
  // top: -200px; // same as header height. use variables in LESS/SASS
  opacity: 0;
}

.overlay {
  opacity: 1;
   -webkit-transition: all 1s ease;
   transition: all 1s ease;
}

.overlay[data-state=closed] {
  left: -30rem;
}

.overlay[data-state=open] {
  left: 0;
}

.variations {
  display: inline-block;
  li {
    width: 70px;
    margin: 15px 20px;
    display: inline-block;
    vertical-align: top;
    ul {
      li {
        margin: 0;
        text-align: left;
        display: block;
      }
    }
  }
}

.close{
  position: relative;
  display: inline-block;
  width: 40px;
  height: 40px;
  overflow: hidden;
  &:hover {
    &::before, &::after {
      background: #000;
    }
  }

  &::before, &::after {
    content: '';
    position: absolute;
    height: 2px;
    width: 100%;
    top: 50%;
    left: 0;
    margin-top: -1px;
    background: #000;
  }
  &::before {
    @include transform(rotate(45deg));
  }
  &::after {
    @include transform(rotate(-45deg));
  }
  &.big {
    @include transform(scale(3));
  }
  &.hairline {
    &::before, &::after {
      height: 1px;
    }
  }
}

.menu-wrp {
  -webkit-transform: scale(1);
  -moz-transform: scale(1);
  -o-transform: scale(1);
  -ms-transform: scale(1);
  transform: scale(1);
  -ms-transition: all 400ms 400ms ease-in-out;
  transition: all 400ms ease-in-out;
  -moz-transition: all 400ms ease-in-out;
  -webkit-transition: all 400ms ease-in-out;
  -o-transition: all 400ms ease-in-out;
  transition-delay: 0;
  -moz-transition-delay: 0;
  -webkit-transition-delay: 0;
  -o-transition-delay: 0;
  -ms-transition-delay: 0;
}

.diy-slideshow{
  position: relative;
  display: block;
  overflow: hidden;
}
figure{
  position: absolute;
  opacity: 0;
  transition: 1s opacity;
}
figcaption{
  position: absolute;
  bottom: .75em;
  right: .35em;
  padding: .25em;
  color: #fff;
  background: rgba(0,0,0, .25);
  border-radius: 2px;
}
figcaption a{
  color: #fff;
}
figure.show{
  opacity: 1;
  position: static;
  transition: 1s opacity;
}
.next, .prev{
  color: #fff;
  position: absolute;
  background: rgba(0,0,0, .6);
  top: 50%;
  z-index: 1;
  font-size: 2em;
  margin-top: -.75em;
  opacity: .3;
  user-select: none;
}
.next:hover, .prev:hover{
  cursor: pointer;
  opacity: 1;
}
.next{
  right: 0;
  padding: 10px 5px 15px 10px;
  border-top-left-radius: 3px;
  border-bottom-left-radius: 3px;
}
.prev{
  left: 0;
  padding: 10px 10px 15px 5px;
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
}
p{
  margin: 10px 20px;
  color: #fff;
}
// a{color:#fff;}

.hero {
   .hero-text-bg {
     background-color: rgba(255,255,255,.9);
     color: #383838;
  }
}

.join {
  background-color: rgba(240, 234, 231, 1);
}

.product-new-arrivals {
  .new-details {
    background-color: rgba(255,255,255,.9);
    color: #383838;
 }
}

.product-outerwear {
  .outerwear-details {
    background-color: rgba(149, 93, 106, .9);
 }
}

.product-tops {
  .tops-details {
    background-color: rgba(223, 180, 153, .9);
 }
}

.product-dresses {
  .dresses-details {
    background-color: rgba(105, 117, 131, .9);
 }
}

.circled {
  border: 3px solid #000000;
  border-radius: 50%;
  display: inline-block;
  height: 30px;
  width: 30px;
  text-align: center;
}

footer{
  // position: fixed;
  // bottom: 0;
  // width: 100%;
  // height: 100px;
  // border: 1px solid $darkColor;
}

#back, #next {
  border-bottom: solid 2px $lightColor;
  position: fixed;
  bottom: 0;
  opacity: .5;
  @include transition(.2s, ease-out, all, 0s);

  &:hover {
    opacity: 1;
    font-size: .65em;
  }
}

#next {
  right: 0;
  padding:20px 30px 20px 0px;
}

#back {
  left: 0;
  padding:20px 0px 20px 30px;
}

.slidesNav {
  position: absolute;
  z-index: 4;
  left: 50%;
  opacity: 1;
  span {
    border-radius: 50%;
    position: absolute;
    z-index: 1;
    height: 8px;
    width: 8px;
    border: 0;
    background: #333;
    left: 50%;
    top: 50%;
    margin: -4px 0 0 -4px;
    -webkit-transition: all .1s ease-in-out;
    -moz-transition: all .1s ease-in-out;
    -o-transition: all .1s ease-in-out;
    transition: all .1s ease-in-out;
  }
  li {
    width: 14px;
    height: 13px;
    margin: 3px;
  }
  a {
    display: block;
        position: relative;
        z-index: 1;
        width: 100%;
        height: 100%;
        cursor: pointer;
        text-decoration: none;
  }
}


@media (min-width: 767px) {
  .overlay[data-state=closed] {
    left: -100rem;
  }

  .overlay[data-state=open] {
    left: 0;
  }
  .product-images {
    max-height: 18rem;
  }
}

/* =============================================================================
   Non-Semantic Helper Classes
   ========================================================================== */

.ir { display: block; border: 0; text-indent: -999em; overflow: hidden; background-color: transparent; background-repeat: no-repeat; text-align: left; direction: ltr; *line-height: 0; }
.ir br { display: none; }
.hidden { display: none !important; visibility: hidden; }
.visuallyhidden { border: 0; clip: rect(0 0 0 0); height: 1px; margin: -1px; overflow: hidden; padding: 0; position: absolute; width: 1px; }
.visuallyhidden.focusable:active, .visuallyhidden.focusable:focus { clip: auto; height: auto; margin: 0; overflow: visible; position: static; width: auto; }
.invisible { visibility: hidden; }
.clearfix:before, .clearfix:after { content: ""; display: table; }
.clearfix:after { clear: both; }
.clearfix { *zoom: 1; }
