<!DOCTYPE html>
<html lang="en">
<head>
    <title>Eon Collective</title>
    <link rel="apple-touch-icon" sizes="57x57" href="images/icons/apple-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="images/icons/apple-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="images/icons/apple-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="images/icons/apple-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="images/icons/apple-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="images/icons/apple-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="images/icons/apple-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="images/icons/apple-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="images/icons/apple-icon-180x180.png">
    <link rel="icon" type="image/png" sizes="192x192"  href="images/icons/android-icon-192x192.png">
    <link rel="icon" type="image/png" sizes="32x32" href="images/icons/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="96x96" href="images/icons/favicon-96x96.png">
    <link rel="icon" type="image/png" sizes="16x16" href="images/icons/favicon-16x16.png">
    <link rel="manifest" href="images/icons/manifest.json">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage" content="images/icons/ms-icon-144x144.png">
    <meta name="theme-color" content="#ffffff">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="author" content="The Experiment">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1, minimal-ui">
    <!--Scripts-->
    <script src="js/jquery-2.1.1.min.js"></script>
    <!--Styles-->
    <link href="https://fonts.googleapis.com/css?family=Montserrat|Open+Sans" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="css/main.min.css"/>
    <link rel="stylesheet" type="text/css" href="css/props-1.css"/>
    <link rel="stylesheet" type="text/css" href="css/colors.css"/>
    <link rel="stylesheet" type="text/css" href="css/grid.css"/>
    <!--Fonts - Used my own typekit -->
<!--     <script src="//use.typekit.net/edn3crf.js"></script>
    <script>try{Typekit.load();}catch(e){}</script> -->
</head>
<body class=" bg-white">

  <section class="nav pos-f top-0 w-100p h-4rem z-20 bg-s-cn bg-p-c bd-b border--gray  bg-white  d-ib">
    <div class="menu-wrapper">
      <div class="hamburger l-0 pos-a center-v w-33p h-2rem z-10 d-ib">
        <li id="menu"><a href="#"></a></li>
      </div>
      <div class="logo d-ib pos-a center-v center-hv  h-3rem t-0">
        <img class="logo-image-file h-3rem" src="images/LOGO-EON-dark.svg" />
      </div>
    </div>
    <div class="sub-menu pos-r w-100p p-t-1 t-4rem t-a-c h-3rem ms-h-4rem ms-w-100p fl-r bg-white">
<!--     <span><h3 class="f-s-xxxs d-ib ms-p-r-1">NEW</h3></span>
    <span><h3 class="f-s-xxxs d-ib ms-p-r-1">OUTDOORS</h3></span>
    <span><h3 class="f-s-xxxs d-ib ms-p-r-1">ACCESSORIES</h3></span>
    <span><h3 class="f-s-xxxs d-ib ms-p-r-1">DRESSES</h3></span> -->
<!--     <span><h3 class="f-s-xxxs d-ib ms-p-r-1 w-100p">Join Eon and rent all your looks.
A members-only destination for the ultimate fashion experience.</h3></span> -->
      <nav class="header_main__links pos-a r-0 b-0 h-3rem p-0 w-25p bg-black white">
              <span class="d-ib"><a href="#friend-buy-popup" id="friend-buy-popup-cta" class="white d-ib p-r-2"><h5>JOIN TODAY</h5></a></span>
              <span class="d-ib"><a href="#friend-buy-popup"  class="white d-ib p-r-2"><h5>|</h5></a></span>
              <span><a href="/account"  class="white d-ib"><h5>Sign In</h5></a></span>
      </nav>
    </div>

  </section>

  <section class="overlay pos-a w-100p h-100p" data-state="closed">
    <div class="overlay-main w-100p h-100p bg-white z-20 pos-f">
      <div class="overlay-header-wrapper">
        <div class="collapsed-menu">
          <ul class="variations">
           <li><span class="close hairline"></span>
           <ul><li></ul>
           </li>
          </ul>
      </div>
    </div>
    <div class="menu-wrp w-100p h-100p pos-a">
      <div class="menu-items h-100p w-80p m-center t-a-l p-t-2">
        <nav class="black f-s-l ">
          <ul>
            <li class="p-0"><a href="#"><h1>SHOP</h1></a></li>
            <li class="p-0"><a href="#"><h1>HOW IT WORKS</h1></a></li>
            <li class="p-0"><a href="#"><h1>ABOUT</h1></a></li>
          </ul> 
        </nav>
      </div>
    </div>
  </section>

<section class="row">
  <div class="col-sm-12">
    <h3 class="section-title">How It Works<br>
    <span class="subtitle">Say goodbye to "I have nothing to wear."</span><h3>
  </div>
</section>


<section id="faq" class="about-eco-paradigm faq black">
  <div class="row">
    <h4 class="section-title col-xs-12">A few questions?<br><span class="subtitle">Answers are easy.</span></h4>
    <div class="col-md-6 col-sm-10">
      <p><strong>How does Eon membership work?</strong></p>
      <p>A collective, we share more than looks... we share ideas, events, happenings, and all the other randomness in life we love. Women of Eon are pioneering the future of fashion, and the future of sustainability.  Membership to Eon is currently by invitation and referral, and soon to be, by request. Welcome to the Empire.</p>

      <p><strong>Why can members only have 1 item rented at a time?</strong></p>
      <p>This was once unlimited.. but then a few of us went a little crazy in the closet! To make sure none of us take all the clothes, members of Eon are currently limited to only have 1-item checked out at a time. We’ll be expanding this soon, stay tuned!</p>

      <p><strong>How do I return an item and pick new items?</strong></p>
      <p>Send it back and get ready to pick your next item. As soon as we receive your return, you will be prompted via email to select new items. Return your items in same packaging you received it in. Insert the provided pre-paid packaging slip into the plastic outside seal, and drop garment bag off at your local UPS drop box or schedule a UPS pickup. Clothes can be returned without the hangers, while accessories should be packed in the protective bag or jewelry box in which it was received.</p>

      <p><strong>What condition are Eon items in?</strong></p>
      <p>Items arrive in like-new condition. We love and care for our clothes, as do our members.  We take great care to clean and inspect all of the items to make sure they arrive in like-new condition at your doorstep.</p>
    </div>
    <div class="col-md-6 col-sm-10">

      <p><strong>Can I purchase my items?</strong></p>
      <p>Have it, love it, want to keep it? Yes! You can purchase an item that you have at home, by visiting your "My Eon" page and clicking the "Buy Forever" button next to the desired product. Eon likes to offer discounts for items purchased, but these discounts, if any, are subject to availability and amount. If you purchase an item, don’t forget to recycle it, donate it, or send it back to us when you’re done with it. </p>

      <p><strong>Should I wash and or/dry clean my clothes?</strong></p>
      <p>We're the fairy god mother you’ve always wanted. Please let us wash, care, and maintain everything for you. We are experts in taking care of your clothes, so you don’t have to. Washing at home or sending to drycleaner can potentially damage clothing, so please send back to us, rather than maintain item yourself. Take this off your to-do list. We got you.</p>

      <p><strong>What happens if I lose or damage an item?</strong></p>
      <p>Eon will charge you a pre-paid subscription fee or a monthly subscription fee. Your Eon subscription automatically renews and you will be billed every 30 days.  You can cancel anytime prior to the next billing cycle by contacting us at <%= mail_to "admin@eoncollective.co" %>.</p>

      <p><strong>What if I need to cancel?</strong></p>
      <p>We don’t want to see you go but if you need to go, its easy.  Just email <%= mail_to "admin@eoncollective.co" %> and tell us you would like to cancel.</p>
    </div>
  </div>
</section>

  <!--Application-->
  <script type="text/javascript" src="js/plugins.js"></script>
  <script type="text/javascript" src="js/script.js"></script>
</body>
</html>
